.createpost-container {
    padding-top: 60px;
    padding-left: 470px;
}

.createpost-content {
    padding-top: 20px;
    width: 300px;
}

.btn-wrapper button {
    height: 40px;
    width: 80px;
    border-radius: 25%;
}
