extends baseNavbar.pug
block append head
    link(rel="stylesheet", href="/css/addingPostPage.css")
block content
    div(class="createpost-container")
        h3 Create your post:
        div(class="createpost-content")
            form
                div(class="form-group")
                    label(for="formGroupPostInput") Input text
                    input(type="text" class="form-control" id="textInput" placeholder="text")
                div(class="form-group")
                    label(for="formGroupPostInput") Choose photo
                    input(type="file" id="postPhotoInput" accept="image/png, image/jpeg")
                div(class="btn-wrapper")
                    button(class="btn-primary" type="button") Create