extends baseNavbar.pug
block append head
    link(rel="stylesheet", href="/css/logInPage.css")
    script(src='/js/logInPage.js')
block content
    div(class="login-container")
        a(class="google-btn" href="/api/auth/google") LogIn with Google+
        div(class="login-content")
            form(method="post" action="/api/auth/login")
                div(class="form-group")
                    label(for="formGroupUserInput") Email
                    input(type="text" class="form-control" id="emailInput" placeholder="email" name="email")
                div(class="form-group")
                    label(for="formGroupUserInput") Password
                    input(type="password" class="form-control" id="passwordInput" placeholder="password" name="password")
                div(class="btn-wrapper")
                    button(class="btn-primary" type="submit" onclick="logIn()") Log in
                    