extends baseNavbar.pug
block append head
    link(rel="stylesheet", href="/css/mainPage.css")
block content
    div(class="content-container")
        each post in posts
            div(class="post-container")
                div(class="post-header")
                    img(src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg", alt="")
                    a(href='user/1') #{post.user.username}
                div(class="photo-container")
                    img(src=post.photo, alt="")
                div(class="post-footer")
                    h6 #{new Date(post.date).toISOString().slice(0,10)}
                    a(href=`post/${post.id}`) Go to post
        