extends baseNavbar.pug
block append head
    link(rel="stylesheet", href="/css/postPage.css")
    script(src='/js/postPage.js')
block content
    div(class="content-container")
        div(class="post-container")
            div(class="post-header")
                img(src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg", alt="")
                a(href='user/1') nickname
            div(class="photo-container")
                img(src="https://images.unsplash.com/photo-1483691278019-cb7253bee49f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80", alt="")
            div(class="post-footer")
                h6 2019-02-12
            div(class="post-comments-container")
                div(class="comment")
                    a(href='user/1') username1
                    h6 first comment
            form(method="post" action="/api/comments" enctype="multipart/form-data" accept-charset="utf-8")
                div(class="input-group mb-3")
                    input(type="text" class="form-control" id="commentInput" placeholder="Comment...")
                    div(class="input-group-append")
                        button(class="btn btn-outline-secondary" onclick="addComment()" type="button" id="button-add-comment") Add
