extends baseNavbar.pug
block append head
    link(rel="stylesheet", href="/css/registerPage.css")
    script(src='/js/registerPage.js')
block content
    div(class="registration-container")
        a(class="google-btn" href="/api/auth/google") LogIn with Google+
        div(class="registration-content")
            form(method="post" enctype="multipart/form-data" action="/api/auth/register")
                div(class="form-group")
                    label(for="formGroupUserInput") Username
                    input(type="text" class="form-control" id="usernameInput" placeholder="username")
                div(class="form-group")
                    label(for="formGroupUserInput") Email
                    input(type="text" class="form-control" id="emailInput" placeholder="email")
                div(class="form-group")
                    label(for="formGroupUserInput") Password
                    input(type="password" class="form-control" id="passwordInput" placeholder="password")
                div(class="btn-wrapper")
                    button(class="btn-primary" type="button" onclick=" registerUser()") Register
                    