extends baseNavbar.pug
block append head
    link(rel="stylesheet", href="/css/userPage.css")
block content
    div(class="user-container")
        div(class="user-header-container")
            div(class="user-photo-container")
                img(src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="")
            div(class="user-info-container")
                div(class="user-nameinfo-container")
                    h4 #{user.username}
                div(class="user-statistic-container")
                    h6 #{posts.length} posts
                    if currentUser.id == user.id
                        a(href="/add/post") Add Post
        div(class="user-content-container")
            each post in posts
                div(class="user-content-photo")
                    a(href=`/post/${post.id}`)
                        img(src=`${post.photo}`, alt="")
                        